@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body {
    font-family: 'DM Sans', sans-serif;
}

#contact_modal {
    display: none;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 1%;
    margin-bottom: 1%;

}

/* photographer info */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header div h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 0px;
    color: #D3573C;
    margin-top: 15%;
}

.photograph-header div h2 {
    font-size: 24px;
    color: #901C1C;
}

.photograph-header div h3 {
    color: #525252;
    font-size: 18px;

}

.photograph-header div {
    margin-left: 3%;
    margin-top: 3%;
}


.photograph-header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #C4C4C4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
    margin-right: 4%;
    object-fit: cover;
}

/* galery Phothographer */
.photograph-media {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: center;
    gap: 88px;
    margin-top: 100px;
    margin-top: 10%;
}

.photograph-media article img, .photograph-media article video {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.photograph-media article div {
    display: flex;
    justify-content: flex-end;
    color: #901C1C;

    width: 350px;
}

.photograph-media article div h4 {
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 400;
}

.photograph-media article div h5 {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: 10%;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
}

.photograph-media article div input {
    margin-bottom: auto;
    margin-top: auto;
    color: #901C1C;
    appearance: none;
    font-size: 24px;
}

/*  form contact  */
.contact_me {
    margin-top: 10%;
    margin-left: 4%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_me:hover {
    background-color: #DB8876;
}


#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 10;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    padding: 35px;
    margin: 5% auto;
    max-width: 500px;
    overflow: hidden;
    padding-top: 10px;
}

.modal header {
    margin-top: -10%;
    display: flex;
    flex-direction: row-reverse;
}

.modal header img {
    cursor: pointer;
    height: 0%;
    margin-top: 15%;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
    font-size: 17px;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form div label {
    margin-top: 1%;
}

form div textarea {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 170px;
}

.contact-me {
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* likes medias count */
.likeCount-media {
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #DB8876;
    width: 25%;
    right: 5%;
    bottom: 0;
    position: fixed;
    justify-content: space-around;
}

.likeCount-media p {
    font-size: 24px;
    font-weight: 500;
}

.likeMedia {
    display: flex;
}

.likeMedia i {
    margin: auto;
    margin-left: 10%;
}

/*  sort by  */
#listbox-content {
    margin-left: 7%;
    margin-top: 2%;
    display: flex;
    position: absolute;
    width: 40%;
}

.sortLabel {
    margin-right: 2%;
    font-size: 18px;
    font-weight: 700;
}

#mySelect {
    display: none;
}

.new-listbox {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 172px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
}

.new-listbox::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    margin-left: 10%;
}

.select-items {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.select-items label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #901C1C;
    z-index: 10;
    text-align: left;
    display: flex;
    align-items: center;
}

.select-items label:nth-child(1) {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select-items label:nth-child(2) {
    position: relative;
}

.select-items label:nth-child(2):after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #FFF;
    width: 90%;
    transform: translateX(-50%);
    top: -0.6px;
    left: 50%;
}

.select-items label:nth-child(1)::after {
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    margin-left: 20%;
}

.select-items label:nth-child(3) {
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.select-items label:nth-child(3):after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #FFF;
    width: 90%;
    transform: translateX(-50%);
    top: -0.6px;
    left: 50%;
}

.select-hide {
    display: none;
}

.active {
    display: none;
}

/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/icons/arrow-right.svg) center center / 16px 28px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 7%;
    margin-top: -14px;
    z-index: 11;
}

.lightbox__prev {
    right: auto;
    left: 7%;
    transform: rotate(180deg);
}

.lightbox__close {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../assets/icons/close.svg) center center / 100% 100% no-repeat;
    position: fixed;
    top: 40px;
    right: 7%;
    z-index: 12;
}

.lightbox button {
    cursor: pointer;
    text-indent: -3000px;
}

.lightbox__container img, .lightbox__container video {
    width: 1050px;
    height: 700px;
    object-fit: cover;
    animation: lightboxIn .5s;
    margin-top: 3%;
    border-radius: 5px;
}

.lightbox__container h2 {
    width: 79%;
    color: #901C1C;
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    /* min-height: 100vh; */
}

.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(../assets/icons/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}